NODE_ENV=production
PORT=3000
DEPLOY_USER=shvkn
DEPLOY_HOST=158.160.104.94
DEPLOY_PATH=/home/shvkn/mesto
DEPLOY_REF=origin/master
DEPLOY_REPO=git@github.com:shvkn/web-plus-pm2-deploy.git
JWT_SECRET='supersecret'
DB_ADDRESS=mongodb://localhost:27017/mestodb
CORS_ORIGINS=api.another-one.ru,another-one.ru
